  body {
	background-color:black;
	margin: 0; padding: 0;
}

.buttons{
	text-align:center;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin:3px;
	padding:3px;
}
button{
	font-size:28px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin:3px;
	padding:3px;
	background-color:#c7a900;
	color:black;
}
ul, li{
	text-align:left;
}
summary, details{
	padding:6px;
	color:white;
	text-align:center;
}
summary{	
	width:300px;
	margin-left: calc(50% - 150px);
	user-select:none;
	color:black;
	background-color:gold;
	border-radius:10%;
}
h1{
	text-align:center;
	color:white;
	font-family: "Serif";
	font-size: 2.7em;
}
img{
	padding:10px;
	margin:10px;
}
p{	
	color:white;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
	color:white;
}
